{{#uiSection 'Quick functions' 1 }}
  <p>
    {{bigButton "sc-map-resetCamera"  "fa-camera"       "Reset view" }}
    {{bigButton "sc-map-centreCamera" "fa-home"         "Centre view [C]" }}
    {{bigButton "sc-map-northCamera"  "fa-compass"      "Reset orientation [R]" }}
    {{bigButton "sc-map-topCamera"    "fa-camera-retro" "Top-down view [T]" }}
    {{bigButton "sc-map-top2D"        "fa-map-marker"   "2D map mode [2]" }}
    <br>
    {{checkboxButton "sc-map-3d-mode"       "3D map mode [3]" }}
    {{checkboxButton "sc-map-lock-rotation" "Lock map rotation [L]" }}
  </p>
{{/uiSection }}
